.about__title {
  margin: 0;
  padding: 0;

  font-size: 25px;
  line-height: 30px;
}

.about__advantages {
  margin: 0;
  padding: 0;

  list-style: none;
}

.about__item {
  font-size: 17px;
  line-height: 20px;
}
