.banner {
  width: 100%;
  margin: 0 auto;
  min-height: 488px;
  text-align: center;
  display: flex;
  flex-direction: column;

  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #fcfcfc;
}

.banner__title {
  padding: 0;
  padding-top: 70px;
  font-size: 27px;
  line-height: 30px;
}

.banner__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-top: auto;

  text-align: left;

  list-style: none;
}

.banner__item {
  position: relative;
  width: 320px;
  display: flex;
  margin: 0 auto;
}

.banner__link {
  box-sizing: border-box;
  display: block;
  width: 320px;
  padding-top: 25px;
  padding-right: 150px;
  min-height: 103px;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

.banner__link--items {
  background-color: #63d1bb;
}

.banner__link--toys {
  background-color: #56c3b2;
}

.banner__link-icon {
  position: absolute;
  fill: #149080;
  opacity: 0.5;
}

.banner__link-icon--items {
  top: 23px;
  right: 36px;
}

.banner__link-icon--toys {
  top: 21px;
  right: 27px;
}

.banner__item:hover .banner__link-icon {
  opacity: 0.7;
}

.banner__item:active .banner__link-icon {
  opacity: 0.7;
}

.banner__item:active .banner__link {
  color: rgba(255, 255, 255, 0.3);
}

@media (min-width: $tablet-width) {
  .banner {
    min-height: 750px;
    margin-top: -45px;
    background-image: none;
    justify-content: space-between;
  }

  .banner__title {
    margin-top: 165px;
    font-size: 43px;
    line-height: 50px;
  }

  .banner__list {
    margin: 0 auto;
    flex-direction: row;
  }

  .banner__item {
    margin: 0;
    width: 334px;
  }

  .banner__link {
    width: 334px;
  }
}

@media (min-width: $desktop-width) {
  .banner__wrapper {
    width: 1050px;
  }

  .banner__link {
    width: 525px;
  }

  .banner__title {
    font-size: 53px;
    line-height: 57px;
  }

  .banner__item {
    width: 525px;
  }
}
