.catalog__title {

  padding: 0;
  font-size: 27px;
  line-height: 30px;


}

.catalog__title-wrapper {
  background-color: #f1f1f1;
  min-height: 177px;
  text-align: center;
  margin-bottom: 30px;
}


@media (min-width: $tablet-width) {
  .catalog__title {
    padding-top: 85px;
  }

  .catalog__title-wrapper {
    margin-top: -45px;
    min-height: 225px;
  }
}
