.contacts {
  padding-top: 30px;
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  width: 260px;
  padding: 0 30px;
  margin: 0 auto;
}

.contacts__title {
  margin: 0;
  margin-top: 14px;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 30px;
}

.contacts__table {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
}

.contacts__table-row {
  display: flex;
  margin-bottom: 30px;
}

.contacts__info-title {
  width: 75px;
}

.contacts__info-content {
  width: 185px;
}

.contacts__link-wrapper {
  padding: 43px 0 40px 0;
}

.contacts__link {
  display: block;
  box-sizing: border-box;
  padding: 14px 0;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    width: 668px;
    padding: 0 50px;
  }

  .contacts__table {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1050px;
    margin: 0 auto;
    padding: 0 50px;
  }

  .contacts__wrapper {
    width: 525px;
    padding: 0;
    margin: 0;
  }

  .contacts__table {
    flex-direction: column;
  }

  .contacts__link-wrapper {
    display: flex;

  }
}
