.featured {
  position: relative;
  width: 320px;
  margin: 0 auto;
}

.featured__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 825px;
  padding-top: 25px;
}

.featured__title-wrapper {
  margin-bottom: 22px;
}

.featured__title {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;

  font-size: 25px;
  line-height: 30px;
}

.featured__label {
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase;
}

.featured__description-wrapper {
  margin-bottom: 29px;
}

.featured__description {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
}

.featured__table {
  width: 259px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #444444;
}

.featured__table-row {
  display: flex;
  flex-wrap: wrap;
  padding-top: 9px;
  padding-bottom: 9px;
  border-bottom: 1px solid #ececec;
}

.featured__properties {
  width: 90px;
}

.featured__value {
  width: 164px;
  padding-left: 5px;
}

.featured__image {
  width: 260px;
  height: 315px;
}

.featured__price-wrapper {
  padding-top: 20px;
}

.featured__price {
  margin: 0;
  margin-top: 3px;
  margin-bottom: 25px;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #444444;
}

.featured__order {
  display: block;
  box-sizing: border-box;
  width: 259px;
  padding: 14px 0;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .featured {
    width: 768px;
  }

  .featured__wrapper {
    flex-direction: row;
    min-height: 625px;
    padding-top: 40px;
  }

  .featured__title-wrapper {
    display: flex;
    width: 100%;
  }

  .featured__title {
    font-size: 43px;
    line-height: 50px;
  }

  .featured__label {
    box-sizing: border-box;
    width: 167px;
    padding-top: 10px;
    padding-left: 70px;
    padding-right: 27px;
    margin-left: auto;
    line-height: 17px;
    text-align: center;
  }

  .featured__description-wrapper {
    width: 334px;
    min-height: 300px;
    align-content: flex-start;
  }

  .featured__description {
    width: 285px;
    font-size: 17px;
    line-height: 30px;
  }

  .featured__image {
    width: 334px;
    height: 404px;
    background-color: #f1f1f1;
  }

  .featured__price-wrapper {
    width: 334px;
  }
}

@media (min-width: $desktop-width) {
  .featured__description-wrapper {
    width: 350px;
    padding-left: 175px;
    padding-top: 200px;
  }


  .featured__title-wrapper {
    position: absolute;
    top: 30px;
  }

  .featured__label {
    order: -1;
  }
}
