.footer {
  background-color: #f1f1f1;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
}

.footer__logo {
  display: none;
}

.footer__copyright {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  padding: 13px 0 23px 0;
}

.footer__copyright-text {
  padding-left: 37px;
  font-size: 19px;
  line-height: 18px;
}

.footer__academy-icon {
  padding-top: 5px;
  margin-left: 30px;
}



@media (min-width: $tablet-width) {
  .footer__wrapper {
    flex-direction: row;
    min-height: 143px;
  }

  .footer__logo {
    width: 191px;
    padding-top: 45px;
    display: block;
  }
}
