.form__title {
  margin: 0;
  padding: 0;

  font-size: 27px;
  line-height: 30px;

  background-color: #f1f1f1;
}


.form__description {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}
