.form__title {
  padding: 0;

  font-size: 27px;
  line-height: 30px;

  background-color: #f1f1f1;
}


.form__description {
  margin-bottom: 20px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}

.form__title-wrapper {
  display: flex;
  align-items: center;
  width: 320px;
  margin: 0 auto;
  background-color: #f1f1f1;
  min-height: 177px;
  text-align: center;
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .form__title {
    padding-top: 85px;
  }

  .form__title-wrapper {
    margin-top: -45px;
    min-height: 225px;
  }
}
