.main-nav {
  display: flex;
  flex-direction: column;
}

.main-nav__logo {
  display: flex;
  flex-direction: row;
}

.main-nav__logo-image {
  height: 80px;
  flex-basis: 220px;
}

.main-nav__toggle {
  height: 80px;
  flex-basis: 40px;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__list--delivery,
.main-nav__list--order {
  display: none;
}


@media (min-width: $tablet-width) {
  .main-nav {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .main-nav__logo {
    width: 320px;
    order: -1;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list--delivery {
    display: block;
    margin-left: auto;
  }
}


@media (min-width: $desktop-width) {
  .main-nav__logo {
    width: 300px;
    order: 0;
  }

  .main-nav__list--order {
    display: block;
  }
}
