.main-nav {
  display: flex;
  flex-direction: column;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__list--delivery,
.main-nav__list--order {
  display: none;
}


@media (min-width: $tablet-width) {
  .main-nav {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .main-nav__list--delivery {
    display: block;
    margin-left: auto;
  }
}


@media (min-width: $desktop-width) {
  .main-nav__list--order {
    display: block;
  }
}
