.order-form__fieldset {
  border: none;
}

.oder-form__title {
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
}

.order-form__radio-label {
  font-size: 17px;
  line-height: 18px;
}

.order-form__required {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}

.order-form__link {
  background-color: #ffffff;
  border: 2px solid #444444;
}
