.order-form__title {
  position: relative;
  margin-bottom: 24px;
}

.order-form__title-text::after {
  position: absolute;
  top: 50%;
  right: 0;
  content: "";
  width: 198px;
  height: 1px;
  background-color: #63d1bb;
}

.order-form__title-text {
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;
}

.order-form__radio-label {
  font-size: 17px;
  line-height: 18px;
}

.order-form__required {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}

.order-form__link {
  background-color: #ffffff;
  border: 2px solid #444444;
}

.order-form__fieldset {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.order-form__button-wrapper {
  display: flex;
  flex-direction: column;
}

.order-form__item {
  position: relative;
  display: flex;
  align-items: center;
}

.order-form__item--radio {
  padding-left: 62px;
  padding-top: 10px;
  margin-bottom: 10px;
}

.order-form__item--checkbox {
  padding-left: 62px;
  padding-top: 10px;
  margin-bottom: 10px;
}

.order-form__radio-label::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border: 2px solid #444444;
  background: #ffffff;
  border-radius: 50%;
}

.order-form__item--radio input:checked + label::after {
  content: "";
  position: absolute;
  left: 9px;
  top: 9px;
  width: 22px;
  height: 22px;
  background-color: #62d1ba;
  border-radius: 50%;
}

.order-form__checkbox-label::before {
  position: absolute;
  left: 0;
  content: "";
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border: 2px solid #444444;
}

.order-form__item--checkbox input:checked + label::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 4px;
  top: 18px;
  width: 40px;
  height: 40px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .order-form__fieldset {
    flex-direction: row;
  }

  .order-form__title {
    width: 167px;
  }

  .order-form__wrapper {
    width: 501px;
  }

  .order-form__button-wrapper {
    flex-direction: row;
  }

  .order-form__wrapper--checkbox {
    display: flex;
    flex-wrap: wrap;
  }

  .order-form__item--checkbox {
    width: 250px;
  }

  .order-form__title-text::after {
    content: none;
  }
}

@media (min-width: $desktop-width) {
  .order-form__title {
    width: 175px;
  }

  .order-form__wrapper {
    width: 875px;
  }
}
