.oder-form__title {
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
}

.order-form__radio-label {
  font-size: 17px;
  line-height: 18px;
}

.order-form__required {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}

.order-form__link {
  background-color: #ffffff;
  border: 2px solid #444444;
}

.order-form__fieldset {
  display: flex;
  flex-direction: column;
}

.order-form__button-wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .order-form__fieldset {
    flex-direction: row;
  }

  .order-form__title {
    width: 167px;
  }

  .order-form__wrapper {
    width: 501px;
  }

  .order-form__button-wrapper {
    flex-direction: row;
  }

  .order-form__wrapper--checkbox {
    display: flex;
    flex-wrap: wrap;
  }

  .order-form__item--checkbox {
    width: 250px;
  }
}

@media (min-width: $desktop-width) {
  .order-form__title {
    width: 175px;
  }

  .order-form__wrapper {
    width: 875px;
  }
}
