.products__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.products__item {
  margin-bottom: 20px;
}

@media (min-width: $desktop-width) {
  .products__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .products__item {
    margin-right: 45px;
  }

  .products__item:last-child {
    margin-right: 0;
  }
}
