.product {
  width: 258px;

  border: 1px solid #ededed;
}

.product__image {
  width: 100%;
}

.product__title {
  margin: 0;
  padding: 0;

  font-size: 17px;
  line-height: 24px;
}

.product__description {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 30px;
  color: #444444;
}

.product__price {
  font-size: 15px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .product {
    width: 668px;
    display: flex;
    flex-direction: row;
  }

  .product__image-wrapper {
    width: 334px;
  }

  .product__description-wrapper {
    width: 334px;
  }
}

@media (min-width: $desktop-width) {
  .product {
    width: 315px;
    flex-direction: column;
  }

  .product__image-wrapper {
    width: 315px;
  }

  .product__description-wrapper {
    width: 315px;
  }
}
