.reviews {
  margin-bottom: 45px;
}

.reviews__wrapper {
  display: flex;
  flex-direction: column;
}

.reviews__title {
  margin: 0;
  margin-bottom: 10px;
  margin-top: 25px;
  padding: 0;

  font-size: 25px;
  line-height: 30px;
}

.reviews__link {
  box-sizing: border-box;
  padding: 14px 0;
}

@media (min-width: $tablet-width) {
  .reviews {
    padding-bottom: 135px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    margin-bottom: 0;
  }

  .reviews__wrapper {
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .reviews__title {
    width: 334px;
    order: -2;
    margin-top: 77px;
    margin-bottom: 50px;
    font-size: 43px;
    line-height: 50px;
  }

  .reviews__link {
    width: 178px;
    height: 52px;
    margin-top: 79px;
    margin-left: 156px;
    order: -1;
  }
}
