.reviews-slider__text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  margin-bottom: 25px;
}

.reviews-slider__user-name {
  font-size: 17px;
  line-height: 24px;
}

.reviews-slider__user-email {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 30px;
  color: #444444;
}

.reviews-slider__buttons {
  display: flex;
  margin-top: 30px;
  margin-bottom: 38px;
}

.reviews-slider__button {
  padding-top: 8px;
  box-sizing: border-box;
  width: 130px;
  height: 52px;
  border: 1px solid #ececec;
  background-color: #ffffff;
}

.reviews-slider__button:hover .reviews-slider__icon {
  opacity: 0.6;
}

.reviews-slider__button:active .reviews-slider__icon {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .reviews-slider__slide {
    display: flex;
    flex-wrap: wrap;
  }

  .reviews-slider__text {
    width: 668px;
  }
}
