.reviews-slider__text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.reviews-slider__user-name {
  font-size: 17px;
  line-height: 24px;
}

.reviews-slider__user-email {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 30px;
  color: #444444;
}

.reviews-slider__button {
  border: 1px solid #ececec;
  background-color: #ffffff;
}

@media (min-width: $tablet-width) {
  .reviews-slider__slide {
    display: flex;
    flex-wrap: wrap;
  }

  .reviews-slider__text {
    width: 668px;
  }
}
