.user-list__item {
  border-bottom: 1px solid #ececec;
}

.user-list__link {
  display: flex;
  padding: 27px 0 27px 75px;

  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .user-list {
    display: flex;
    width: 348px;
    order: -1;
    height: 80px;
  }

  .user-list__item {
    border: 0;
  }

  .user-list__link--search {
    width: 82px;
    padding: 32px 0 32px 0;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    background-image: url(../img/icon-search.svg);
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    span {
      font-size: 0;
    }
  }

  .user-list__link--basket {
    width: 264px;
    padding: 32px 0;
    border-bottom: 1px solid #ececec;
  }
}

@media (min-width: $desktop-width) {
  .user-list {
    width: 350px;
    order: 0;
  }
}
