@media (min-width: $tablet-width) {
  .user-list {
    display: flex;
    width: 348px;
    order: -1;
    height: 80px;
  }


}


@media (min-width: $desktop-width) {
  .user-list {
    width: 350px;
    order: 0;
  }
}
