.user-list__item {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.user-list__link {
  position: relative;
  display: flex;
  padding: 27px 0 27px 75px;

  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

.user-list__item:hover .user-list__link {
  opacity: 0.6;
}

.user-list__item:active .user-list__link {
  opacity: 0.3;
}

.user-list__link-icon {
  position: absolute;
  top: 31px;
  left: 31px;
}

.user-list__link-icon path {
  opacity: 0.2;
  fill: #231F20;
}

.user-list__item:hover .user-list__link-icon path {
  fill: #63d1bb;
  opacity: 1;
}

.user-list__item:active .user-list__link-icon path {
  fill: #63d1bb;
  opacity: 0.3;
}


@media (min-width: $tablet-width) {
  .user-list {
    display: flex;
    width: 348px;
    order: -1;
  }

  .user-list__item {
    display: flex;
    border: 0;
  }

  .user-list__link--search {
    width: 82px;
    padding: 32px 0 32px 0;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    cursor: pointer;
  }

  .user-list__link--search span{
    font-size: 0;
  }

  .user-list__link--basket {
    width: 264px;
    padding: 32px 0;
    border-bottom: 1px solid #ececec;
  }
}

@media (min-width: $desktop-width) {
  .user-list {
    width: 350px;
    order: 0;
  }
}
